.thumbnail {
  margin-right: 20px;
}

.media-object {
  width: 72px;
  height: 72px;
}

.added-product-name {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.added-product-brand {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;


}

.empty-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.continue-shopping {
  width: 15rem;
}

@media screen and (max-width:900px) {
  .added-product-name {
    display: none;
  }

  .added-product-brand {
    display: none;
  }

}

@media screen and (max-width:630px) {
  .media-object {
    width: 100%;
    height: 100%
  }
}